html{
    background-color: lightpink;
    background-image: linear-gradient( to right, lightpink, lightblue);
}

.header{
   color: whitesmoke;
   background-color: #08010d;
   border: 2px solid #f3eeee; 
   border-style: outset;
   height: 100px;
   width: 1500px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: xx-large;
   text-transform: uppercase;
   display: flexbox;
   text-align:left;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 5%;
   }

   .top{
    color: whitesmoke;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
   }

   .top:hover{
    color: darkorchid;
   }

   .homePage{
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color:white;
    background-color: #55555e;
    background-image: linear-gradient(black, lightgray);
    height:max-content;
    margin-left: 100px;
    margin-right: 100px;
    display:flow-root;
   }

 hr{
    border-color:white;
    margin: 15px;
 }

 .portfolio{
    background-color: white;
    color:black;
    border: 5px solid black;
    margin-left: 100px;
    margin-right: 100px;

 }

 .photo{
   display:inline-block;
   height: 250px;
   width: auto;
   border: 2px solid whitesmoke;
   margin-left: 40%;
 }

 .photoWeight{
   display:inline-block;
   height: 250px;
   width: auto;
   border: 2px solid whitesmoke;
   margin-left: 30%;
   
 }

 .portPhoto{
   display: inline-block;
   height: 250px;
   width: auto;
   margin-left: 30%;
   border: 2px solid black
 }

 .portPhoto3{
   display: inline-block;
   height: 250px;
   width: auto;
   margin-left: 15%;
   border: 2px solid black
 }

 .aboutPara{
   text-align: left; 
   font-size: large;
   clear: both; 
   margin-left: 5%;
   margin-right: 5%;
 }

 .aboutHeader{
   margin-left: 5%;
   text-decoration: underline;
 }

 .aboutHeader1{
   margin-left: 5%;
   margin-right: 5%;
   text-align: center;
   font-size: xxx-large;
 }

 .grid-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
 }

 .selfPhoto{
  height: 300px;
  width:auto;
  border-radius: 25%;
  border: 2px solid whitesmoke;
  padding: 5px solid black;
  display: flexbox;
  float:inline-end;
  border-style:ridge;
   }

  .selfPhoto:hover {
    transform: scale(1.2);
  }

.back-button{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
  font-weight: bold;
  color: #75d7f0;
  padding: 10px;
  position: absolute;
  margin-left: 35%;
  margin-top: 10%;
}

.cat{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 400px;
  width: auto;
  display: inline-block;
  border: 5px solid purple;
  margin-left: 25%;
}

.contactinfo{
  margin-left: 3%;
}

.contactsection{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  color:white;
  background-color: #55555e;
  background-image: linear-gradient(black, lightgray);
  height:max-content;
  margin-left: 100px;
  margin-right: 100px;
  display:flow-root;
  border: 2px solid black;
  border-style: groove;
  border-radius: 2%;
  height:auto;
  contain:content;
 }

 .contactsection:hover{
  color:darkorchid;
 }

 .contactsection:nth-child(even){
  background-image: linear-gradient(lightgray, black);
 }